<main class="container d-flex flex-column align-items-center">
    <div class="day">
        <div class="day-title">
            {{ dates[0] | weekday }}
        </div>
        <div class="day-content">
            <div class="pare-title">
                <div>№</div>
                <div>Дисциплина</div>
                <div>Преподаватель</div>
                <div>Аудитория</div>
            </div>
            @for (item of _pares; track $index) {
                <div class="pare">
                    <div>{{item.number}}</div>
                    <div>{{getDisciplineName(item.discipline_id)}}</div>
                    <div>{{getTeacherName(item.teacher_id)}}</div>
                    <div>{{getClassroomNumber(item.classroom_id)}}</div>
                </div>
            } @empty {
                <div class="message">
                    Пару у подгруппы I нет
                </div>
            }
        </div>
    </div>
    

    <div class="day">
        <div class="day-title">
            {{ dates[1] | weekday }}
        </div>
        <div class="day-content">
            <div class="pare-title">
                <div>№</div>
                <div>Дисциплина</div>
                <div>Преподаватель</div>
                <div>Аудитория</div>
            </div>
            @for (item of _pares; track $index) {
                <div class="pare">
                    <div>{{item.number}}</div>
                    <div>{{getDisciplineName(item.discipline_id)}}</div>
                    <div>{{getTeacherName(item.teacher_id)}}</div>
                    <div>{{getClassroomNumber(item.classroom_id)}}</div>
                </div>
            } @empty {
                <div class="message">
                    Пару у подгруппы I нет
                </div>
            }
        </div>
    </div>

</main>