<!-- Контейнер для таблицы создания расписания -->
<div class="p-3 d-flex flex-column">
    <div class="d-flex justify-content-end">
            <button (click)="goToPrevWeek()" class="btn btn-primary">Предыдущая неделя</button>
            <button (click)="goToNextWeek()" class="btn btn-primary ms-3">Следующая неделя</button>
    </div>
    <app-group-item
        (saveGroup)="loadPares($event)"
        *ngFor="let item of groups"
        [date]="date"
        [group]="item"
        [disciplines]="disciplines"
        [teachers]="teachers"
        [classrooms]="classrooms"
    >
    </app-group-item>
    <app-modal
        [disciplines]="disciplines"
        [teachers]="teachers"
        [classrooms]="classrooms"
    ></app-modal>
</div>
